<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="post" action="/charities/{{charityId}}/reviews">
            <h1>{{charityId}}</h1>
            <fieldset>
                <legend>New Review</legend>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>

                <div class="form-group">
                    <label for="review">Review</label>
                    <input type="text" name="review">
                </div>
                
                <div class='form-group'>
                    <label for="rating">Rate</label>
                    <select name="rating" id="rating">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>  

                <input type="hidden" name="edited" value='false'>
                <input type="hidden" name="charityId" value="{{charityId}}">

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>