{{!-- {{#each charity}}
    <h1>{{this.name}}</h1>
    <h2>{{this.description}}</h2>
{{/each}} --}}
<div class="row">
    {{#each donation}}
        <div class="col-sm-3">
            <h1><a href="/donations/{{this._id}}">{{this.name}}</a></h1>
        </div>
    {{/each}}
</div>
